* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

html {
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
}



body {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;





}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    padding: 0em 1em;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 5em;




}

#ham {
    width: 32px;
    height: 18px;
    cursor: pointer;
    /* z-index: 500; */
}

#main-words-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    padding: 0em 1em;
}

#main-words-button h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 0.4em;
}

#main-words-button p {
    color: #686868;
    line-height: 26px;

}

#main-words-button a {
    font-family: 'Epilogue';
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#websites {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 4rem;
}

#websites img {
    width: 18%;

}

#mobile-menu {
    background-color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0.5em;
    height: 100%;
    display: none;
    overflow: hidden;
    z-index: 7;

}

#big_X {
    width: 24px;
    height: 24px;
    align-self: flex-end;
    cursor: pointer;
}

#mini-nav {
    margin-right: 6em;
    margin-left: 1em;
    margin-top: 1.5em;
}

li {
    margin-bottom: 1em;
}

ul a {
    font-family: 'Epilogue', sans-serif;
    color: #686868;
    text-decoration: none;
}

li p {

    font-family: 'Epilogue', sans-serif;
    color: #686868;
    margin-right: 1em;

}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    display: block;
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: #686868;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    margin-top: 1.5em;
}

.register {
    border: 1px solid #686868;
    width: 100%;
    padding: 1em 2em;
    border-radius: 1em;
    width: 195px;
    margin-left: 1em;
    margin-right: 1em;

}

#darken-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 4, 3, 0.753);
    display: none;

}

.drop-picked {
    transform: rotate(180deg);

}

.features {
    display: flex;
    align-items: center;
}

.company {
    display: flex;
    align-items: center;
}

.feature_drop {
    display: none;
    position: relative;
    left: 2em;
}

.company_drop {
    display: none;
}

.small-drop-down {
    display: none;
}

.appear {
    display: block;
    flex-direction: column;
}

.top-company-li {
    margin-top: 1.5em;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 1em;

}

.option-icons {
    width: 17.5px;
    height: 20px;
    margin-right: 0.5em;
}

#desktop-login {
    display: none;
}

#large-drop-down {
    display: none;
}

#large-nav {
    display: none;
}

.man-on-comp-comp {
    display: none;
}

@media screen and (min-width:768px) {
    main {
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 10em;
    }

    header {
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}


@media screen and (min-width:1024px) {
    header {
        width: 95%;
        max-width: 1330px;
        display: flex;
        align-items: center;

    }

    li {
        margin-bottom: 0em;
    }

    #ham {
        display: none !important;
    }

    .menu-button {

        margin-top: 0em;
    }

    .register {
        width: 104px;
        height: 42px;
        margin-right: 0em;
        padding: 1em 0em;
    }

    #desktop-login {
        display: flex;
    }

    #large-drop-down {
        display: flex;
        flex-direction: row;

    }

    #left-side {
        display: flex;
        align-items: center;


    }

    #mobile-menu,
    #darken-background {
        display: none !important;
    }

    #large-nav {
        display: flex;
        align-items: center;
        margin-left: 2em;
    }

    .feature_drop2 {
        display: none;
        position: absolute;
        top: 3.5em;


    }

    .company_drop2 {
        display: none;
        position: absolute;
        top: 3.5em;


    }



    .features2 {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .company2 {
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    .nested-nav {
        display: flex;

    }

    .drop-down {
        margin-left: 1em;

    }

    li a {
        margin-left: 2em;
    }

    .appear {
        display: block;
        flex-direction: column;
    }

    main {
        flex-direction: row;
        max-width: 1300px;
        justify-content: space-around;
        width: 100%;
    }

    .man-on-comp-mobile {
        display: none;
    }

    .man-on-comp-comp {
        display: block;
        order: 5;
        width: 45%;
    }

    #main-words-button {
        width: 45%;

    }

    .register {
        margin-left: 2.5em;
    }

    #main-words-button {
        text-align: left;
        padding: 0em 0em;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #main-words-button h1 {
        font-size: 70px;
        margin-bottom: 0em;
        line-height: 80px;
    }

    #main-words-button a {
        margin-top: 0em;
    }

    #websites {
        margin: 0em 0em;
    }
}

@media screen and (min-width:1440px) {}